.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);

  .paper {
    max-width: 95%;
    min-width: 300px;
    max-width: 600px;
    max-height: 90%;
    background-color: var(--white);
    border-radius: 10px;
    position: relative;
  }

  .close {
    cursor: pointer;
  }

  .children {
    overflow: auto;
    max-height: 80vh;
    padding: 20px 40px 30px;
  }

  h4 {
    text-align: center;
  }

  .header {
    border-bottom: 2px solid var(--gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px 20px;
  }
}

// media query
@media (max-width: 768px) {
  .modal {
    .paper {
      margin: 0 10px;
    }

    .header {
      padding: 20px;
    }

    .children {
      padding: 20px 30px 30px;
    }

    h4 {
      font-size: 14px;
    }
  }
}
