.modal {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);

    .paper {
       max-width: 95%;
       min-width: 300px;
       max-width: 600px;
       max-height: 90%;
       background-color: var(--white);
       padding: 10px 40px 30px;
       border-radius: 10px;
       position: relative;
    }

    .close {
        position: absolute;
        width: fit-content;
        right: 16px;
        top: 10px;
        cursor: pointer;
    }

    .children {
        overflow: auto;
        max-height: 80vh;
        padding-top: 12px;
    }

    h2 {
        text-align: center;
    }
}

// media query
@media(max-width:768px) {
    .modal {
        .paper {
            padding: 10px 20px;
            margin: 0 10px;
        }
    }
}