.container {
    position: absolute;
    top: 30px;
    right: 40px;
    display: flex;
    align-items: center;
    padding-right: 7px;
    cursor: pointer;

    &.active {
        background-color: var(--dark);
        border-radius: 5px;

        p, svg {
            color: var(--white);
        }
    }
}


// media query
@media(max-width:768px) {
    .container {
        top: 20px;
        right: 35px;
    }
}