.main {
  padding: 20px 30px;
  min-height: 93%;
  max-width: 1420px;
  margin: 0 auto;
  position: relative;

  h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
  }
}

// media query
@media (max-width: 768px) {
  .main {
    padding: 10px;

    h1 {
      font-size: 25px;
      margin-bottom: 20px;
    }
  }
}
